@font-face {
    font-family: 'andada-pro';
    src: url('fonts/andada-pro.ttf') format('truetype');
}

@font-face {
    font-family: 'league-spartan';
    src: url('fonts/league-spartan.ttf') format('truetype');
}

:root {
    --cream: #FCF8F0;
    --navy: #080E20;
    --mid-green: #5F6F52;
    --light-green: #A9B388;
    --orange: #C4661F;
}

* {
    box-sizing: border-box;
}

html, body{
    background-color: var(--cream);
    color: var(--navy);
    margin: 0;
    height: 100%;
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'andada-pro';
}

p, a, input, button {
    font-family: 'league-spartan';
}

.help-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
}

.help-content {
    margin: 50px auto;
    padding: 50px;
    width: 80%;
    background-color: var(--cream);
}